---
import TalkLayout from '../../layouts/TalkLayout.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
import TalkLoader from '../../components/talks/ia-procesos-productivos/TalkLoader';

export async function getStaticPaths() {
  const talks = await getCollection('talks');
  return talks.map((talk: CollectionEntry<'talks'>) => ({
    params: { slug: talk.data.slug },
    props: { talk },
  }));
}

interface Props {
  talk: CollectionEntry<'talks'>;
}

const { talk } = Astro.props;
const { title, description, slug, slideCount } = talk.data;
---

<TalkLayout title={title} description={description} slug={slug} slideCount={slideCount}>
  {slug === 'ia-procesos-productivos' && (
    <div id="talk-loader-root">
      <TalkLoader client:load />
    </div>
  )}
</TalkLayout>

<style>
  #talk-loader-root {
    width: 100%;
    height: 100vh;
    position: relative;
  }
</style>
